/* shered style */
.color {
    color: #E55473;
}
.white{
    color: white;
}
.mt {
    margin-top: 10%;
}

.display-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1% 10%;
    gap: 2%;
}

.header-text {
    width: 50%;
}

.header-section {
    background-color: #e3cdd1;
    max-width: 1920px;
}

.header-section img {
    width: 100%;
}

h1 {
    font-weight: 800;
    color: #272727;
    font-size: 40px;
}

.text {
    color: rgba(0, 0, 0, 0.2);
}

.btn-primary {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #E55473;
    border: none;
}

/* part-2 style */
.part-2 {
    margin-top: 178px;
}

.part-text,
.part-5-text {
    max-width: 590px;
    text-align: center;
    margin: 0px auto;
}

.featured-heading {
    font-weight: 800;
    margin-bottom: 1rem;
}

.card-parents {

    display: flex;
    max-width: 900px;
    margin: 0px auto;
    gap: 2%;
    margin-top: 70px;
}

.card-container {
    max-width: 300px;
    height: 600px;
}

.card {
    background-color: rgba(167, 33, 98, 0.15);
    max-width: 300px;
    max-height: 538px;
    margin-bottom: 25px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

img {
    width: 50%;
    padding-left: 4rem;
    padding-top: 4rem;
}

.card-2 {
    background-color: rgba(5, 151, 160, 0.15);
}

.card-3 {
    background-color: rgba(71, 125, 17, 0.15);
}

.card-3 img {
    padding-top: 3rem;
}

.archor {
    text-align: center;
    color: black;
    align-items: center;
    margin-left: 25%;
}

/* part-03 style */
.part-3 {
    max-width: 76%;
    background-color: rgba(39, 39, 39, 0.05);
    margin: 0px auto;
}

.box {
    max-width: 20%;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.box img {
    margin-left: -50px;
}

.box-container {
    display: flex;
    justify-content: space-around;
    margin-top: -150px;
}

.part-4 {
    max-width: 100%;
    background-color: rgba(229, 84, 115, 0.05);
}

.part-4-text {
    max-width: 530px;
    text-align: center;
    margin-top: 20%;
}

.part-4-container {
    display: flex;
    max-width: 80%;
    margin: 0px auto;
    padding-bottom: 6%;
}

.img-box img {
    width: 100%;
}

.image-container {
    display: flex;
    max-width: 76%;
    margin: 0px auto;
    gap: 1%;
    margin-left: 8%;
}

.part-6 {
    max-width: 78%;
    background-image: url('Flower Asset/Rectangle\ 9.png');
    margin: 10% auto;
    background-size: cover;
}

.part-6-container {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    width: 50%;
}

.part-7 {
    background-color: rgba(17, 16, 16, 1);
    height:50vh;
}

.part-7-text {
    color: white;
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width:576px) {

    .display-flex,
    .card-parents,
    .box-container,
    .part-4-container,
    .image-container {
        flex-direction: column;
        margin: 0px;
    }

    .card-parents,
    .box-container,
    .part-4-container {
        justify-content: center;
        align-items: center;
    }

    .header-text {
        width: 100%;
        margin-left: 20px;
    }

    .card-container-2 {
        margin-top: -250px;
    }

    .box {
        max-width: 60%;
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .part-3 {
        margin-top: -150px;
    }

}

@media screen and (min-width:576px) and (max-width:960px) {

    .display-flex,
    .box-container {
        flex-direction: column;
        margin: 0px;
    }

    .card-parents {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 90px;
        gap: 0px;
    }

    .image-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .header-text {
        width: 100%;
        margin-left: 20px;
    }

    .box {
        max-width: 80%;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
}