/* shered style */
.display-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1% 10%;
    gap: 2%;
}

.header-text {
    width: 50%;
}

.header-section {
    background-color: #e3cdd1;
    max-width: 1920px;
}

.header-section img {
    width: 100%;
}

h1 {
    font-weight: 800;
    color: #272727;
    font-size: 40px;
}

.text {
    color: rgba(0, 0, 0, 0.2);
}

.btn-primary {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    background-color: #E55473;
    border: none;
}

/* part-2 style */
.part-2 {
    margin-top: 178px;
}

.part-text {
    max-width: 590px;
    text-align: center;
    margin: 0px auto;
}

.featured-heading {
    font-weight: 800;
    margin-bottom: 1rem;
}
@media screen and (max-width:576px) {
    .display-flex {
        flex-direction: column;
        margin: 0px;
    }

    .header-text {
        width: 100%;
        margin-left: 20px;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    .display-flex {
        flex-direction: column;
        margin: 0px;
    }

    .header-text {
        width: 100%;
        margin-left: 20px;
    }
}